<%- include('./partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-4">
                <h2 style="text-align: center;">Log in</h2>
            </div>
        </div>
        <form action="/login" method="POST" class="g-3 mt-4 needs-validation" novalidate>
            <div class="col-6 offset-3">
                <div class="row mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="username" required>
                </div>
                <div class="row mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-success">Log in</button>
                </div>
            </div>
        </form>
    </div>
    <%- include('./partials/footer') %>